---
import { URL_BASE } from "@/config";
---

<div class="absolute top-0 left-0 w-full overflow-hidden">
  <img
    class="max-w-60 lg:max-w-3xl"
    src={`${URL_BASE}/imgs/svg/header hero.svg`}
    alt="Encabezado"
  />
</div>

<header class="flex justify-end p-4 relative z-10">
  <a href={`${URL_BASE}/`} class="inline-block">
    <img
      class="w-36 md:w-40 inline-block"
      src={`${URL_BASE}/imgs/svg/logo_metoject.svg`}
      alt="Logo metoject"
    />
  </a>
</header>
